{{ template "header.html" }}
<body class="bg-dark text-light">
<div class="container-fluid vh-100 master-container">
    <div class="row h-100 justify-content-center">
        <!-- Nav Panel -->
        {{ template "nav.html" . }}

        <!-- Modals -->
        {{ template "modals.html" . }}

        <!-- Main Content -->
        <div class="scroll-snap">
            <h1>TRENCH</h1>
            <p1>Here is a molt</p1>
            <p1>Here is a molt</p1>
            <p1>Here is a molt</p1>
            <p1>Here is a molt</p1>
            <p1>Here is a molt</p1>

        </div>

        <!-- Additional Panel -->
        {{ template "search.html" . }}
    </div>
</div>

<!-- This is where dynamic toasts will show up -->
<div id="toaster-coaster">
</div>


<!-- Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>

<script async>
    attachCharacterCounters();
</script>

<!-- Ctrl-Enter form submit -->
<script>
    var currentForm = null;
    $(document).keypress(
        function(event) {
            if (event.keyCode === 13 && event.ctrlKey) {
                if (currentForm) {
                    event.preventDefault();
                    if ($(currentForm).find('button[type=submit]').attr('disabled') == null) {
                        currentForm.submit()
                    }
                }
            }
        }
    );

    $('.draft-modal').on('shown.bs.modal', function() {
        $(this).find('textarea').focus();
    });

    // IT WAS THAT EASY THE WHOLE TIME???
    const target = document.getElementById('content-body');
    $('.master-container div.row.h-100').on('wheel', function(event) {
        if (event.target.closest('#content-body') == null) {
            target.scrollTop += event.originalEvent.deltaY;
        }
    });
</script>
</body>
</html>
